.marmeto-timeline_block{
    display: flex;
    padding: 6rem 9.5rem;
    gap: 84px;
}
.dot{
    z-index: 2;
    height: 30px;
    width: 14px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dot_child{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: #000;
}
.marmeto-timeline_text_container{
    width: 50%;
}
.marmeto-timeline_image_container{
    width: 50%;
}

.marmeto-timeline_maincontainer{
    margin-top: 4.8rem;
    position: relative;
}

.marmeto-timeline_text{
    font-weight: 700;
    font-size: 40px;
    color: #000000;
    line-height: 48px;
}
.marmeto-timeline_para{
    padding-top: 3.6rem;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    line-height: 19.6px;
}

.marmeto-timeline_section_line{
    position: absolute;
    width: 3px;
    background: #B3B3B3;
    display: block;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, rgba(179, 179, 179, 0), rgba(179, 179, 179, 1) 2%, rgba(179, 179, 179, 1) 100%);
}
.marmeto-timeline_image_container picture{
    display: block;
    aspect-ratio: .8;
}
.marmeto-timeline_image_container img{
    height: auto;
    width: 100%;   
}
.marmeto-timeline-image-align-row{
    flex-direction: row;
}
.marmeto-timeline-image-align-row-reverse{
    flex-direction: row-reverse;
}
.marmeto-timeline-text-alignment-right{
    text-align: right;
}
.marmeto-timeline-text-alignment-left{
    text-align: left;
}

@media screen and (max-width:749px){
    .dot{
        height: 12px;
        width: 4px;
    }
    .dot_child{
        height: 4px;
        width: 4px;
    }
    .marmeto-timeline_section_line{
        width: .79px;
    }
    .marmeto-timeline_maincontainer{
        margin-top: 2.4rem;
    }
    .marmeto-timeline_block{
        display: flex;
        padding: 1.68rem 1.5rem;
        gap: 2.33rem;
    }
    .marmeto-timeline_text{
        font-weight: 400;
        font-size: 24px;
        line-height: 33.6px;
    }
    .marmeto-timeline_para{
        padding-top: 1.6rem;
        font-weight: 400;
        font-size: 12px;
        line-height: 16.8px;
    }
}
